[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build", "npm run build:server"]

[start]
cmd = "NODE_ENV=production npm run start:prod"

